<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Site Web</title>
    <link rel="stylesheet" href="{{ asset('styles/acceuil.css') }}">
    <div class="navbar">
        <div class="logo">
            <img src="{{ asset('/image/amigo.jpg') }}" alt="Logo"> <!-- Remplacez par le chemin de votre logo -->
        </div>
        <h1 class="amigo">AMIGO</h1>
        <ul>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="#">Miage</a></li>
            <li><a href="{{ path('app_bureau_index') }}">Bureau</a></li>
            <li><a href="#">Evennements</a></li>
            <li><a href="#">Partenaire</a></li>
            <li><a href="#">Nos offres</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Administrateur</a></li>
        </ul>
    </div>
</head>
<body>
<!-- Barre de navigation -->


<!-- Contenu de la page -->

</body>

<footer>



</footer>
</html>
